{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "attack1",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Actions",
      "Title": "Secondary Attack",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "Reload",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "B"
    },
    {
      "Name": "Use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "X"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": "Slot 1",
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "3",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot9",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot0",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "0",
      "GamepadCode": "None"
    },
    {
      "Name": "SlotPrev",
      "GroupName": "Inventory",
      "Title": "Previous Slot",
      "KeyboardCode": "mouse4",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "SlotNext",
      "GroupName": "Inventory",
      "Title": "Next Slot",
      "KeyboardCode": "mouse5",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "View",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "X",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Drop",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "g",
      "GamepadCode": "None"
    },
    {
      "Name": "Flashlight",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "Die",
      "GroupName": "Other",
      "Title": "Suicide",
      "KeyboardCode": "U",
      "GamepadCode": "None"
    },
    {
      "Name": "Spray",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "t",
      "GamepadCode": "None"
    },
    {
      "Name": "InspectMenu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "C",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "Undo",
      "GroupName": "Other",
      "Title": "Undo",
      "KeyboardCode": "Z",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "SpawnMenu",
      "GroupName": "Other",
      "Title": "SpawnMenu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchLeftBumper"
    }
  ],
  "__guid": "dc0ce146-b8a8-40a1-b05f-f21ef4d6d19c",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}